.header {
    background-color: #3eaf76;
}

.episode {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 10px;
    margin-top: 20px;
}


.login {

    color: black;
}


.statusBar {
    text-shadow: 0px 2px 3px #555;
}
