<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>yrbus - be there on time</title>
    {% load staticfiles %}

{#    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="{% static "yrbus/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "yrbus/bundled/css/style.css" %}">
</head>
<body>
<div id="content">

</div>

<script src="{% static "yrbus/bundled/js/bundled.js" %}" ></script>
<script src="{% static "yrbus/bootstrap/dist/js/bootstrap.js" %}"
</body>
</html>